{% set pageTitle = "Non-digital registration confirmed" %}
{% extends "layout_service_step.html" %}


{% block content %}

    {{ govukPanel({
        titleText: pageTitle,
        classes: "govuk-!-margin-bottom-8 govuk-!-padding-8"
    }) }}

    <p class="govuk-body">
        Alex Kid's test has been registered.
    </p>

    <p class="govuk-body">
        If you have provided a landline number, 119 will call you. Otherwise, to receive your results call 119 after 72 hours.
    </p>

    <div class="govuk-button-group govuk-!-margin-top-8">
    {{ govukButton({
        text: "Register another barcode"
    }) }}
    {{ govukButton({
        text: "Back to home",
        classes: "govuk-button--secondary"
    }) }}
</div>

{% endblock %}